<section class="activities">
    <h2>Activities I would be interested in:</h2>
    <div class="activity-icons">
        <img src="images/ic_ac_chat.png" alt="">
    </div>
    <button>
        +
    </button>
</section>