
    <footer>
        <button>
            <img src="images/ic_cross.png" alt="don't like">
        </button>
        <button>
            <img src="images/ic_love.png" alt="like">
        </button>
    </footer>