<header>
    <nav>
        <a href="profile">
            <img src="images/ic_profile.png" alt="profile">
        </a>

        <% if (!userAvailability) { %>
            <a href="available">
                <img src="images/ic_not_available.png" alt="click to change your status to available">
            </a>
        <% } else { %>
            <a href="/">
                <img src="images/ic_available.png" alt="click to change your status to unavailable">
            </a>
        <% } %>

        <a href="messages">
            <img src="images/ic_messages.png" alt="messages">
        </a>
    </nav>
</header>