html {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

body {
    background-color: #d0006f;
    margin: 0;
    width: 30em;
    display: grid;
    grid-template-areas:
    "header"
    "activities"
    "main"
    "footer";
    grid-template-rows: 4em .1fr 7fr 6em;
    height: 100%;
    max-height: 45em;
    font-family: 'Muli', sans-serif;
}

header {
    background-color: #424242;
    grid-area: header;
}

h1 {
    color: white;
}

nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1em;
    width: 100%;
}

nav img {
    width: 2.5em;
}

nav a {
    color: #d0006f;
    font-weight: bold;
    text-decoration: none;
}

nav a:nth-child(2) img {
    width: 7.5em;
}

.activities {
    align-items: center;
    grid-area: activities;
    background-color: #e4e4e4;
    display: flex;
    box-sizing: border-box;
    padding: .5em 1em;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2, legend {
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    margin: 0 0 .5em;
    height: 1em;
    font-weight: bold;
}

h3 {
    color: #d0006f;
    font-size: 10em;
    text-align: center;
    margin-bottom: 0;
}

h4 {
    text-align: center;
    color: #424242;
    font-size: 2em;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10em;
}

.logo {
    width: 80%;
}

.activity-icons {
    display: flex;
    align-items: center;
}

.activity-icons img {
    width: 2.5em;
}

.activities button {
    background-color: #424242;
    border: 1.5px solid #d0006f;
    width: 2.5em;
    border-radius: 100%;
    height: 2.5em;
    padding: 0;
    color: white;
}

.activities button img {
    width: 100%;
}

main {
    grid-area: main;
    box-sizing: border-box;
    padding: .5em 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-settings {
    justify-content: center;
}

.grey-section {
    background-color: #e4e4e4;
    grid-template-rows: 4em .1fr 7fr 0;
}

.images {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}

.images img {
    width: 60%;
    height: 100%;
}

.info {
    background-color: #842457;
    align-items: center;
    color: white;
    display: flex;
    box-sizing: border-box;
    padding: .5em 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1em;
    min-height: 7em;
}

.profile-picture {
    align-self: center;
    border: 5px solid #d0006f;
    box-sizing: border-box;
    width: 80%;
}

form {
    width: 30em;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
}

footer button, footer a {
    background-color: transparent;
    width: 40%;
    border: none;
    height: 100%;
    margin: 0;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

footer a span {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    font-size: 1.2em;
    padding: 0 1.5em;
    text-align: center;
}

footer img {
    width: 50%;
}

img {
    width:  1em;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.form-login {
    height: 100%;
    padding-top: 2em;
    width: 100%;
    align-self: center;
}

fieldset {
    border: none;
}

fieldset:nth-child(3) {
    margin-bottom: 2em;
}

fieldset div {
    display: flex;
    justify-content: center;
}

label {
    width: 20%;
    text-align: left;
    padding-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, select, textarea {
    width: 70%;
    margin: 0 0 .4em;
    padding: .2em;
    font-family: 'Muli', sans-serif;
    font-size: 1.1em;
    border: none;
    height: 1.5em;
    background-color: white;
}

textarea {
    height: 4em;
}

.in-name {
    background-color: #e4e4e4;
    font-weight: bold;
}

.save-button {    
    background-color: #d0006f;
    border: none;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.2em;
    width: 100%;
    height: 4em;
    padding: 0;
    font-weight: bold;
}

.btn-select-picture {    
    background-color: #d0006f;
    border: none;
    align-self: center;
    min-height: 2em;
    min-width: 80%;
    box-sizing: border-box;
}

.fieldset-save {
    padding: 0;
    border: 0;
    margin: 0;
}

.btn-settings {
    border: none;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1.2em;
    width: 100%;
    height: 4em;
    padding: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: .2em;
}

.btn-reset {
    background-color: red;
    margin-top: 2em;
}

.btn-logout {
    background-color: #d0006f;
}