<% include ../partials/head %>

<body class="grey-section">
    <% include ../partials/headers/settings %>
    <main class="main-information">
        <% include ../partials/form %>
    </main>
</body>

</html>