<% include ../partials/head %>

<body class="grey-section">
    <% include ../partials/headers/login %>
    <main>
        <section class="logo-container">
            <img src="images/logo_full.png" alt="logo" class="logo">
        </section>
        <form action="/login" method="POST" class="form-login">
            <fieldset>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                </div>
            </fieldset>
            <fieldset class="fieldset-save">
                <button type="submit" value="submit" class="save-button">Log In</button>
            </fieldset>
        </form>
    </main>
</body>

</html>